{
  "x-generator": "NSwag v14.6.3.0 (NJsonSchema v11.5.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Platform.WebApi",
    "version": "v1"
  },
  "servers": [
    {
      "url": "http://dxlxx.sunjee.cn:89"
    }
  ],
  "paths": {
    "/api/WxWork/ClearMemberCache": {
      "get": {
        "tags": [
          "企业微信"
        ],
        "summary": "清理企业微信成员缓存",
        "operationId": "PlatformWebApiFeaturesExternalWxWorkClearMemberCacheEndpoint",
        "parameters": [
          {
            "name": "userid",
            "in": "query",
            "required": true,
            "description": "用户标识",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/WxWork/CreateMember": {
      "post": {
        "tags": [
          "企业微信"
        ],
        "summary": "创建成员",
        "operationId": "PlatformWebApiFeaturesExternalWxWorkCreateMemberEndpoint",
        "requestBody": {
          "x-name": "MemberCreateRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberCreateRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/WxWork/DeleteMember": {
      "post": {
        "tags": [
          "企业微信"
        ],
        "summary": "删除成员",
        "operationId": "PlatformWebApiFeaturesExternalWxWorkDeleteMemberEndpoint",
        "requestBody": {
          "x-name": "MemberDeleteModel",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberDeleteModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/WxWork/GetAgentJSSDK": {
      "get": {
        "tags": [
          "企业微信"
        ],
        "summary": "获取Agent JSSDK参数",
        "operationId": "PlatformWebApiFeaturesExternalWxWorkGetAgentJSSDKEndpoint",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "URL 地址",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret",
            "in": "query",
            "required": true,
            "description": "签名密钥",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/WxWork/GetJSSDK": {
      "get": {
        "tags": [
          "企业微信"
        ],
        "summary": "获取JSSDK参数",
        "operationId": "PlatformWebApiFeaturesExternalWxWorkGetJSSDKEndpoint",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "URL 地址",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret",
            "in": "query",
            "required": true,
            "description": "签名密钥",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/WxWork/GetOrgTree": {
      "get": {
        "tags": [
          "企业微信"
        ],
        "summary": "部门树",
        "operationId": "PlatformWebApiFeaturesExternalWxWorkGetOrgTreeEndpoint",
        "parameters": [
          {
            "name": "departmentId",
            "in": "query",
            "required": true,
            "description": "部门标识",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "searchKey",
            "in": "query",
            "description": "搜索关键词",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "类型",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ContactTypeEnum"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/WxWork/GetRedirectUrl": {
      "get": {
        "tags": [
          "企业微信"
        ],
        "summary": "获取回调",
        "operationId": "PlatformWebApiFeaturesExternalWxWorkGetRedirectUrlEndpoint",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "URL 地址",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agentId",
            "in": "query",
            "description": "应用标识（不传使用默认应用）",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "状态值（不传默认 state）",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/WxWork/GetTokenByCode": {
      "get": {
        "tags": [
          "企业微信"
        ],
        "summary": "获取token通过Code",
        "operationId": "PlatformWebApiFeaturesExternalWxWorkGetWxWorkTokenByCodeEndpoint",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "授权码",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/WxWork/GetTokenByUserId": {
      "get": {
        "tags": [
          "企业微信"
        ],
        "summary": "获取token通过UserId",
        "operationId": "PlatformWebApiFeaturesExternalWxWorkGetTokenByUserIdEndpoint",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "用户标识",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "required": true,
            "description": "缓存键",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/WxWork/GetTreeDepartment": {
      "post": {
        "tags": [
          "企业微信"
        ],
        "summary": "获取部门树（异步返回）",
        "operationId": "PlatformWebApiFeaturesExternalWxWorkGetTreeDepartmentEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/WxWork/GetTreeDepartmentList": {
      "post": {
        "tags": [
          "企业微信"
        ],
        "summary": "获取部门树（全部返回）",
        "operationId": "PlatformWebApiFeaturesExternalWxWorkGetTreeDepartmentListEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/WxWork/GetUserEntity": {
      "get": {
        "tags": [
          "企业微信"
        ],
        "summary": "获取用户详情",
        "operationId": "PlatformWebApiFeaturesExternalWxWorkGetWxWorkUserEntityEndpoint",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "用户标识",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/WxWork/GetUserInfo": {
      "get": {
        "tags": [
          "企业微信"
        ],
        "summary": "获取用户信息(当前登录人)",
        "operationId": "PlatformWebApiFeaturesExternalWxWorkGetWxWorkUserInfoEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/WxWork/GetUserList": {
      "get": {
        "tags": [
          "企业微信"
        ],
        "summary": "用户列表",
        "operationId": "PlatformWebApiFeaturesExternalWxWorkGetWxWorkUserListEndpoint",
        "parameters": [
          {
            "name": "departmentId",
            "in": "query",
            "required": true,
            "description": "部门标识",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "searchKey",
            "in": "query",
            "description": "搜索关键词",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "页码（从1开始）",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "row",
            "in": "query",
            "required": true,
            "description": "每页行数",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/WxWork/UpdateMember": {
      "post": {
        "tags": [
          "企业微信"
        ],
        "summary": "更新成员",
        "operationId": "PlatformWebApiFeaturesExternalWxWorkUpdateMemberEndpoint",
        "requestBody": {
          "x-name": "MemberUpdateModel",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberUpdateModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/WxWork/UserRefresh": {
      "get": {
        "tags": [
          "企业微信"
        ],
        "summary": "清除部门和用户缓存",
        "operationId": "PlatformWebApiFeaturesExternalWxWorkUserRefreshEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppFengfan/ApplyStar": {
      "post": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "五星申报",
        "operationId": "PlatformWebApiFeaturesAppFengfanApplyFFStarEndpoint",
        "requestBody": {
          "x-name": "FFStarApplicationVM",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FFStarApplicationVM"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppFengfan/AuditStar": {
      "post": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "五星审核",
        "operationId": "PlatformWebApiFeaturesAppFengfanAuditFFStarEndpoint",
        "requestBody": {
          "x-name": "AuditStarRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditStarRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppFengfan/CreateRecognition": {
      "post": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "新增锋范认定",
        "operationId": "PlatformWebApiFeaturesAppFengfanCreateFFRecognitionEndpoint",
        "requestBody": {
          "x-name": "FFRecognitionVM",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FFRecognitionVM"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppFengfan/DeleteRecognition": {
      "post": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "撤销锋范认定",
        "operationId": "PlatformWebApiFeaturesAppFengfanDeleteFFRecognitionEndpoint",
        "requestBody": {
          "x-name": "DeleteFFRecognitionRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteFFRecognitionRequest2"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppFengfan/GetBadgeStats": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "锋范类别统计",
        "operationId": "PlatformWebApiFeaturesAppFengfanGetFFBadgeStatsEndpoint",
        "parameters": [
          {
            "name": "studentDepId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "termCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppFengfan/GetProgress": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "学生集齐进度",
        "operationId": "PlatformWebApiFeaturesAppFengfanGetFFProgressEndpoint",
        "parameters": [
          {
            "name": "studentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppFengfan/GetRecognitionDetail": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "锋范认定详情",
        "operationId": "PlatformWebApiFeaturesAppFengfanGetFFRecognitionDetailEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppFengfan/GetRecognitions": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "锋范认定列表",
        "operationId": "PlatformWebApiFeaturesAppFengfanGetFFRecognitionsEndpoint",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "rows",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "studentDepId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "studentId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "badgeType",
            "in": "query",
            "schema": {
              "nullable": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/FFBadgeType"
                }
              ]
            }
          },
          {
            "name": "termCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppFengfan/GetStarApplications": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "五星申报列表",
        "operationId": "PlatformWebApiFeaturesAppFengfanGetFFStarApplicationsEndpoint",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "rows",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "nullable": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/FFStarStatus"
                }
              ]
            }
          },
          {
            "name": "termCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppFengfan/PickTop5": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "推举前5候选人",
        "operationId": "PlatformWebApiFeaturesAppFengfanPickFFTop5Endpoint",
        "parameters": [
          {
            "name": "studentDepId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "termCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppFengfan/UpdateRecognition": {
      "post": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "编辑锋范认定",
        "operationId": "PlatformWebApiFeaturesAppFengfanUpdateFFRecognitionEndpoint",
        "requestBody": {
          "x-name": "UpdateRecognitionRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRecognitionRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppParent/GetEvalDimensions": {
      "get": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "好孩子评价维度",
        "operationId": "PlatformWebApiFeaturesAppParentEvalGetEvalDimensionsEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppParent/GetMyChildren": {
      "get": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "我的孩子列表",
        "operationId": "PlatformWebApiFeaturesAppParentEvalGetMyChildrenEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppParent/GetMyEvals": {
      "get": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "我的评价记录",
        "operationId": "PlatformWebApiFeaturesAppParentEvalGetMyParentEvalsEndpoint",
        "parameters": [
          {
            "name": "studentId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "termCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppParent/GetReportDetail": {
      "get": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "成长报告册详情",
        "operationId": "PlatformWebApiFeaturesAppParentEvalGetReportDetailForParentEndpoint",
        "parameters": [
          {
            "name": "reportId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppParent/GetReports": {
      "get": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "成长报告册列表",
        "operationId": "PlatformWebApiFeaturesAppParentEvalGetReportsForParentEndpoint",
        "parameters": [
          {
            "name": "studentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppParent/GetTeacherEvals": {
      "get": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "老师对孩子的评价（追锋时刻）",
        "operationId": "PlatformWebApiFeaturesAppParentEvalGetTeacherEvalsForParentEndpoint",
        "parameters": [
          {
            "name": "studentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "termCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppParent/MarkReportViewed": {
      "post": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "标记报告已查看",
        "operationId": "PlatformWebApiFeaturesAppParentEvalMarkReportViewedEndpoint",
        "requestBody": {
          "x-name": "MarkReportViewedRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkReportViewedRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppParent/SubmitEval": {
      "post": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "提交好孩子评价",
        "operationId": "PlatformWebApiFeaturesAppParentEvalSubmitParentEvalEndpoint",
        "requestBody": {
          "x-name": "SubmitParentEvalRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitParentEvalRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppPatrol/GetConfig": {
      "get": {
        "tags": [
          "移动端-巡查"
        ],
        "summary": "巡查配置（年级/班级树·巡查人·执勤教师）",
        "operationId": "PlatformWebApiFeaturesAppPatrolGetPatrolConfigEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppPatrol/GetDashboard": {
      "get": {
        "tags": [
          "移动端-巡查"
        ],
        "summary": "巡查首页+积分看板",
        "operationId": "PlatformWebApiFeaturesAppPatrolGetPatrolDashboardEndpoint",
        "parameters": [
          {
            "name": "mode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppPatrol/GetHistory": {
      "get": {
        "tags": [
          "移动端-巡查"
        ],
        "summary": "巡查记录列表",
        "operationId": "PlatformWebApiFeaturesAppPatrolGetPatrolHistoryEndpoint",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "rows",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppPatrol/GetOps": {
      "get": {
        "tags": [
          "移动端-巡查"
        ],
        "summary": "单日操作记录明细",
        "operationId": "PlatformWebApiFeaturesAppPatrolGetPatrolOpsEndpoint",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppPatrol/GetPeople": {
      "get": {
        "tags": [
          "移动端-巡查"
        ],
        "summary": "巡查人列表",
        "operationId": "PlatformWebApiFeaturesAppPatrolGetPatrolPeopleEndpoint",
        "parameters": [
          {
            "name": "searchKey",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppPatrol/GetTodayRecord": {
      "get": {
        "tags": [
          "移动端-巡查"
        ],
        "summary": "获取今日巡查记录",
        "operationId": "PlatformWebApiFeaturesAppPatrolGetPatrolTodayRecordEndpoint",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppPatrol/SaveTodayRecord": {
      "post": {
        "tags": [
          "移动端-巡查"
        ],
        "summary": "保存今日巡查",
        "operationId": "PlatformWebApiFeaturesAppPatrolSavePatrolTodayRecordEndpoint",
        "requestBody": {
          "x-name": "PatrolTodayRecordVM",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatrolTodayRecordVM"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppReport/GetDetail": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "报告册详情",
        "operationId": "PlatformWebApiFeaturesAppReportCardGetReportCardDetailEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppReport/GetList": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "报告册列表",
        "operationId": "PlatformWebApiFeaturesAppReportCardGetReportCardsEndpoint",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "rows",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "studentId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "studentDepId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "termCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppReport/GetTeacherList": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "教师端报告列表",
        "operationId": "PlatformWebApiFeaturesAppReportCardGetReportListForTeacherEndpoint",
        "parameters": [
          {
            "name": "studentDepId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "termCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppReport/ImportScores": {
      "post": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "成绩导入",
        "operationId": "PlatformWebApiFeaturesAppReportCardImportScoresEndpoint",
        "requestBody": {
          "x-name": "ImportScoresRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportScoresRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppReport/Push": {
      "post": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "推送报告",
        "operationId": "PlatformWebApiFeaturesAppReportCardPushReportCardEndpoint",
        "requestBody": {
          "x-name": "PushReportCardRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushReportCardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppReport/SaveComment": {
      "post": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "保存教师寄语",
        "operationId": "PlatformWebApiFeaturesAppReportCardSaveTeacherCommentEndpoint",
        "requestBody": {
          "x-name": "SaveTeacherCommentRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveTeacherCommentRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppStudent/GetDepListByAdmin": {
      "get": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "按管理员获取部门列表",
        "operationId": "PlatformWebApiFeaturesAppStudentGetDepListByAdminEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppStudent/GetDepsByIdentity": {
      "get": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "按身份获取部门列表",
        "operationId": "PlatformWebApiFeaturesAppStudentGetDepsByIdentityEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppStudent/GetStudentByClass": {
      "get": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "按班级获取学生列表",
        "operationId": "PlatformWebApiFeaturesAppStudentGetStudentByClassEndpoint",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "rows",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "depId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "startTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "endTime",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "searchKey",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "graduatedStatus",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppStudent/GetStudentByParent": {
      "get": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "按家长获取学生列表",
        "operationId": "PlatformWebApiFeaturesAppStudentGetStudentByParentEndpoint",
        "parameters": [
          {
            "name": "termCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppStudent/GetStudentDepAdminList": {
      "get": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "管理员分页列表",
        "operationId": "PlatformWebApiFeaturesAppStudentGetStudentDepAdminListEndpoint",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "rows",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "searchKey",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "studentDepAdminRoleId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppStudent/GetStudentDepAdminRoleList": {
      "get": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "管理员角色列表",
        "operationId": "PlatformWebApiFeaturesAppStudentGetStudentDepAdminRoleListEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppStudent/GetStudentDeps": {
      "get": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "获取班级列表",
        "operationId": "PlatformWebApiFeaturesAppStudentGetStudentDepsEndpoint",
        "parameters": [
          {
            "name": "graduatedStatus",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppStudent/StudentDepAdminAdd": {
      "post": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "新增管理员",
        "operationId": "PlatformWebApiFeaturesAppStudentStudentDepAdminAddEndpoint",
        "requestBody": {
          "x-name": "StudentDepAdminRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StudentDepAdminRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppStudent/StudentDepAdminDel": {
      "post": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "删除管理员",
        "operationId": "PlatformWebApiFeaturesAppStudentStudentDepAdminDelEndpoint",
        "requestBody": {
          "x-name": "StudentDepAdminDelRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StudentDepAdminDelRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppStudent/StudentDepAdminEntity": {
      "get": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "管理员详情",
        "operationId": "PlatformWebApiFeaturesAppStudentStudentDepAdminEntityEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppStudent/StudentDepAdminRoleCreate": {
      "post": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "新增管理员角色",
        "operationId": "PlatformWebApiFeaturesAppStudentStudentDepAdminRoleCreateEndpoint",
        "requestBody": {
          "x-name": "StudentDepAdminRoleRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StudentDepAdminRoleRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppStudent/StudentDepAdminRoleDel": {
      "post": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "删除管理员角色",
        "operationId": "PlatformWebApiFeaturesAppStudentStudentDepAdminRoleDelEndpoint",
        "requestBody": {
          "x-name": "StudentDepAdminRoleDelRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StudentDepAdminRoleDelRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppStudent/StudentDepAdminRoleEntity": {
      "get": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "管理员角色详情",
        "operationId": "PlatformWebApiFeaturesAppStudentStudentDepAdminRoleEntityEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppStudent/StudentDepAdminRoleUpdate": {
      "post": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "编辑管理员角色",
        "operationId": "PlatformWebApiFeaturesAppStudentStudentDepAdminRoleUpdateEndpoint",
        "requestBody": {
          "x-name": "StudentDepAdminRoleRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StudentDepAdminRoleRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppStudent/StudentDepAdminUpdate": {
      "post": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "编辑管理员",
        "operationId": "PlatformWebApiFeaturesAppStudentStudentDepAdminUpdateEndpoint",
        "requestBody": {
          "x-name": "StudentDepAdminRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StudentDepAdminRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppStudent/SyncDepAdmins": {
      "post": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "同步管理员",
        "operationId": "PlatformWebApiFeaturesAppStudentSyncDepAdminsEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppStudent/SyncStudentDeps": {
      "post": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "同步部门",
        "operationId": "PlatformWebApiFeaturesAppStudentSyncStudentDepsEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppStudent/SyncStudents": {
      "post": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "同步学生",
        "operationId": "PlatformWebApiFeaturesAppStudentSyncStudentsEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppStudent/UpdateAvatar": {
      "post": {
        "tags": [
          "移动端-家长"
        ],
        "summary": "更新头像",
        "operationId": "PlatformWebApiFeaturesAppStudentUpdateAvatarEndpoint",
        "requestBody": {
          "x-name": "UpdateAvatarRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAvatarRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppTeacher/GetAnalysis": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "评价分析",
        "operationId": "PlatformWebApiFeaturesAppTeacherEvalGetAnalysisEndpoint",
        "parameters": [
          {
            "name": "studentDepId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "termCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppTeacher/GetClasses": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "教师所辖班级",
        "operationId": "PlatformWebApiFeaturesAppTeacherEvalGetTeacherClassesEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppTeacher/GetFeed": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "追锋时刻（全班级动态）",
        "operationId": "PlatformWebApiFeaturesAppTeacherEvalGetTeacherFeedEndpoint",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "rows",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "studentDepId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "termCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppTeacher/GetParentEvals": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "家长评价查看",
        "operationId": "PlatformWebApiFeaturesAppTeacherEvalGetParentEvalsForTeacherEndpoint",
        "parameters": [
          {
            "name": "studentDepId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "termCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppTeacher/GetRanking": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "班级积分排行榜",
        "operationId": "PlatformWebApiFeaturesAppTeacherEvalGetRankingEndpoint",
        "parameters": [
          {
            "name": "studentDepId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "termCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppTeacher/GetScoreRules": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "评价维度规则",
        "operationId": "PlatformWebApiFeaturesAppTeacherEvalGetTeacherScoreRulesEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppTeacher/GetStudents": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "班级学生列表",
        "operationId": "PlatformWebApiFeaturesAppTeacherEvalGetStudentsByClassEndpoint",
        "parameters": [
          {
            "name": "depId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "searchKey",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppTeacher/GetTerms": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "可选学期列表",
        "operationId": "PlatformWebApiFeaturesAppTeacherEvalGetTeacherTermsEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppTeacher/PublishGoodCitizen": {
      "post": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "发表好公民评价",
        "operationId": "PlatformWebApiFeaturesAppTeacherEvalPublishGoodCitizenEvalEndpoint",
        "requestBody": {
          "x-name": "PublishGoodCitizenEvalRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishGoodCitizenEvalRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/AppTeacher/PublishGoodStudent": {
      "post": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "发表好学生评价",
        "operationId": "PlatformWebApiFeaturesAppTeacherEvalPublishGoodStudentEvalEndpoint",
        "requestBody": {
          "x-name": "PublishGoodStudentEvalRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishGoodStudentEvalRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/Auth/CodeLogin": {
      "post": {
        "tags": [
          "认证授权"
        ],
        "summary": "扫一扫登录",
        "operationId": "PlatformWebApiFeaturesSysAuthCodeLoginEndpoint",
        "requestBody": {
          "x-name": "CodeLoginModel",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CodeLoginModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Auth/GetCodeIsLogin": {
      "get": {
        "tags": [
          "认证授权"
        ],
        "summary": "扫一扫获取是否登录",
        "operationId": "PlatformWebApiFeaturesSysAuthGetCodeIsLoginEndpoint",
        "parameters": [
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "description": "加密的时间戳，用于标识一次扫码登录会话",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Auth/GetCodeIsLoginTimestamp": {
      "get": {
        "tags": [
          "认证授权"
        ],
        "summary": "扫一扫获取时间戳",
        "operationId": "PlatformWebApiFeaturesSysAuthGetCodeIsLoginTimestampEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Auth/GetLoginVerCode": {
      "get": {
        "tags": [
          "认证授权"
        ],
        "summary": "获取登录验证码",
        "operationId": "PlatformWebApiFeaturesSysAuthGetLoginVerCodeEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Auth/GetToken": {
      "get": {
        "tags": [
          "认证授权"
        ],
        "summary": "获取token",
        "operationId": "PlatformWebApiFeaturesSysAuthGetTokenEndpoint",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "description": "用户标识",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Auth/GetTokenPC": {
      "post": {
        "tags": [
          "认证授权"
        ],
        "summary": "获取PC token",
        "operationId": "PlatformWebApiFeaturesSysAuthGetTokenPCEndpoint",
        "requestBody": {
          "x-name": "LoginRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Auth/GetUserInfo": {
      "get": {
        "tags": [
          "认证授权"
        ],
        "summary": "获取当前用户信息",
        "operationId": "PlatformWebApiFeaturesSysAuthGetUserInfoEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/Auth/InitSysData": {
      "get": {
        "tags": [
          "认证授权"
        ],
        "summary": "初始化系统数据",
        "operationId": "PlatformWebApiFeaturesSysAuthInitSysDataEndpoint",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Medal/GetLookList": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "家长查看名单",
        "operationId": "PlatformWebApiFeaturesAppMedalGetMedalLookListEndpoint",
        "parameters": [
          {
            "name": "depId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "orderId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/Medal/GetMedalOrderDetails": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "奖章动态详情",
        "operationId": "PlatformWebApiFeaturesAppMedalGetMedalOrderDetailsEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/Medal/GetMedalOrders": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "奖章动态列表",
        "operationId": "PlatformWebApiFeaturesAppMedalGetMedalOrdersEndpoint",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "row",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "depId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "timeStr",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/Medal/MedalCommentDelete": {
      "post": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "删除奖章评论",
        "operationId": "PlatformWebApiFeaturesAppMedalMedalCommentDeleteEndpoint",
        "requestBody": {
          "x-name": "MedalCommentDeleteRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MedalCommentDeleteRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/Medal/MedalOrderComment": {
      "post": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "新增奖章评论",
        "operationId": "PlatformWebApiFeaturesAppMedalMedalOrderCommentEndpoint",
        "requestBody": {
          "x-name": "MedalOrderCommentRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MedalOrderCommentRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/Medal/MedalOrderDelete": {
      "post": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "删除奖章动态",
        "operationId": "PlatformWebApiFeaturesAppMedalMedalOrderDeleteEndpoint",
        "requestBody": {
          "x-name": "MedalOrderDeleteRequest",
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MedalOrderDeleteRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/Medal/MedalOrderLike": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "奖章动态点赞",
        "operationId": "PlatformWebApiFeaturesAppMedalMedalOrderLikeEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/Medal/MedalOrderLook": {
      "get": {
        "tags": [
          "移动端-教师"
        ],
        "summary": "奖章动态查看",
        "operationId": "PlatformWebApiFeaturesAppMedalMedalOrderLookEndpoint",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/PcAnalysis/GetClassCompare": {
      "get": {
        "tags": [
          "PC端-数据分析"
        ],
        "summary": "班级对比",
        "operationId": "PlatformWebApiFeaturesPcAnalysisGetClassCompareEndpoint",
        "parameters": [
          {
            "name": "studentDepId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "termCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/PcAnalysis/GetDimensionHeatmap": {
      "get": {
        "tags": [
          "PC端-数据分析"
        ],
        "summary": "维度热力图",
        "operationId": "PlatformWebApiFeaturesPcAnalysisGetDimensionHeatmapEndpoint",
        "parameters": [
          {
            "name": "studentDepId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "termCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/PcAnalysis/GetSectionOverview": {
      "get": {
        "tags": [
          "PC端-数据分析"
        ],
        "summary": "三类评价活动概览",
        "operationId": "PlatformWebApiFeaturesPcAnalysisGetSectionOverviewEndpoint",
        "parameters": [
          {
            "name": "studentDepId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "termCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "JWTBearerAuth": []
          }
        ]
      }
    },
    "/api/PcAnalysis/GetTeacherStats": {
      "get": {
        "tags": [
          "PC端-数据分析"
        ],
        "summary": "教师评价统计",
        "operationId": "PlatformWebApiFeaturesPcAnalysisGetTeacherStatsEndpoint",
        "parameters": [
          {
            "name": "studentDepId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "termCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
[...]
